[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain-openai = "*"
langchain-community = "*"
rich = "*"
aiofiles = "*"
langchain-ollama = "*"
transformers = "*"
langchain-anthropic = "*"
langgraph = "*"
rapidfuzz = "*"
faiss-cpu = "*"
protobuf = "*"
sentencepiece = "*"
ipython = "*"
streamlit-chat = "*"
streamlit = "*"
pyperclip = "*"
docx2txt = "*"
unstructured = "*"
"pdfminer.six" = "*"
pillow-heif = "*"
flask = "*"
gunicorn = "*"
mammoth = "*"
markdownify = "*"
python-pptx = "*"
puremagic = "*"
youtube-transcript-api = "*"
"stopwatch.py" = "*"
python-math = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
